/* Устанавливаем box-sizing для всех элементов */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem; /* Размер текста */
    line-height: 1.6; /* Межстрочный интервал */
    text-align: justify; /* Выравнивание текста */
    color: rgb(58, 107, 36); /* Цвет текста в RGB */
    background-image: url('./assets/images/back.webp'); /* Оптимизированный формат изображения */
    background-size: cover; /* Масштабирование */
    background-repeat: no-repeat; /* Убираем повторение */
    background-attachment: fixed; /* Фиксируем фон при прокрутке */
    background-position: center; /* Центрирование фона */
    border: 2px solid #0a0909; /* Граница */
    border-radius: 2em; /* Скругление границ */
    padding: 1.25rem;
    margin: 1.25rem auto;
    max-width: 50em;
    height: auto;
    min-height: 100vh; /* Минимальная высота на всю высоту окна */
    position: relative; /* Относительное позиционирование */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: hsl(0, 97%, 47%);
    font-weight: 700;
    max-width: 100%;
    position: relative;
    z-index: 2; /* Поднимаем заголовки выше */
    text-align: center;
}

a {
    color: #2c1592;
    text-decoration: none;
}

a:hover {
    color: rgb(20, 214, 20); /* Цвет ссылки при наведении */
}

p::before{
    content: "\1F449"; 
    /* Добавляет символ перед текстом параграфа */
}

p::after{
    content: "\1F448";
}

ol > li::first-letter{
    font-size: 2em; /* Увеличиваем размер */
    font-weight: bold; /* Жирный шрифт */
    color: hsl(16, 100%, 50%); /* Оранжевый цвет через HSL */
}

/* Установка размеров и позиционирования для изображений */
figure {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

figure img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Оптимальная обрезка изображений */
    display: block;
}

/* Контейнер для изображений */
figure {
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

/* Контейнер для списка ссылок */
ul {
    max-width: 60%;
    min-width: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Контейнер для списка задач */
ol {
    max-width: 60%;
    min-width: 30%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
